.SignIn--navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    flex-direction: row;
}
.SignIn-navbar--favicon {
    display: none;
}

.SignIn--navbar img{
    width: 150px;
    cursor: pointer;
}

.SignIn--navbar button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}


.SignIn--btn {
    background-color: white;
    border: 1px solid white;
    color: #0572ec;
    box-shadow: 1px 1px 10px 1px rgb(224, 223, 223);
}

.SignIn--btn:hover {
    background-color: #0a7800;
    color: #fff;
    border: 1px solid #0a7800;
}

.SignIn {
    /* border: 1px solid red; */
    display: flex;
    background-color: #f7f7f7;
    color: #000;
}

.SignIn-side-bar {
    width: 400px;
    height: 110vh;
    background-color: #0572ec;
}

.SignIn-side-bar img {
    width: 150px;
    padding: 15px 20px;
}

.SignIn-side-bar h1 {
    padding: 0px 50px;
    font-size: 70px;
    font-weight: 900;
    color: #16436c;
    -webkit-text-stroke: 4px #16436c;
    line-height: 70px;
    margin: 30px 0 0 0;
}

.SignIn-side-bar p {
    padding: 0px 50px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    line-height: 15px;
}

.SignIn--form {
    margin: auto;
    padding: 20px;
}

.SignIn--form h1 {
    font-size: 30px;
    text-align: center;
}

.SignIn--form-area {
    background-color: white;
    padding: 10px 30px 30px 30px; 
    border-radius: 10px;
    box-shadow: 1px 10px 10px 1px rgb(224, 223, 223);
}

.SignIn--form-area input {
    width: 400px;
    height: 35px;
    border: 1px solid #dfdddd;
    border-radius: 5px;
    margin: 5px auto;
    padding: 0px 10px;
}

.SignIn--form-area input:hover {
    border: 1px solid #0572ec;
    box-shadow: 1px 1px 10px 1px rgb(211, 209, 209);
}

.SignIn--form-area label {
   text-align: left;
}

.SignIn--form-area .submit {
    background-color: #0572ec;
    width: 200px;
    height: 40px;
    color: white;
    border-radius: 50px;
}

.SignIn--form-area span a {
    margin-left: 135px;
    font-size: 12px;
    color: #0572ec;
    font-weight: 700;
    text-decoration: none;
}

.SignIn--form-area p {
    text-align: center;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}


@media screen and (max-width: 600px) {
    .SignIn--navbar {
        flex-direction: column;
    }
    
    .SignIn-navbar--favicon {
        display: flex;
        width: 10px;
        margin-bottom: 10px;
    }
    
    .SignIn--navbar img{
        width: 150px;
    }
    
    .SignIn--navbar button {
        display: none;
    }

    .SignIn-side-bar {
        display: none;
    }
    
    .SignIn--form-area input {
        width: 290px;
    }

    .SignIn--form-area .submit {
        width: 190px;
        margin-top: 20px;
    }
    
    .SignIn--form-area span a {
        margin-left: 30px;
        font-size: 12px;
        color: #0572ec;
        font-weight: 700;
        text-decoration: none;
    }
    
    .SignIn--form-area p {
        text-align: center;
        width: 310px;
    }
      
}