body {
    background-color: #0572EC;
}

.Hero {
    height: auto;
    color: white;
}

.Hero--section {
    padding: 0px 40px 0px 80px;
    max-width: 1700px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Hero--info {
    margin-top: 100px;
    margin-left: 0px;
}

.Hero--info h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 65px;
    margin: 0;
    /* border: 1px solid red; */
}

.Hero--info p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    text-align: left;
    color: #fff;

    /* border: 1px solid red; */
}

.Hero--btn {
    margin-top: 30px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.Hero--btn button {
    width: 185px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}

.join {
    background-color: #16436c;
    color: white;
}

.signin {
    color: #16436c;
}

.Hero--section img {
    width: 550px;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}


@media screen and (max-width: 600px) {

    .Hero--section {
        padding: 10px 0 ;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        /* height: 80vh; */
    }

    .Hero--info {
        margin-top: 30px;
        /* border: 1px solid red; */
    }
    
    .Hero--info h1{
        font-size: 3.5rem;
        min-width: 200px;
        line-height: 45px;
        text-align: center;
    }

    .Hero--info p {
        font-size: 13px;
        line-height: 25px;
        text-align: center;
    }

    .Hero--section img {
        margin-top: 0px;
        width: 390px;
    }

    .Hero--btn {
        margin-top: 10px;
        width: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

    }
    
    .Hero--btn button {
        width: 195px;
        height: 40px;
        border: 1px solid transparent;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        margin: 10px;
    }
    
    .join {
        background-color: #16436c;
        color: white;
    }
    
    .signin {
        color: #16436c;
    }
    

}


@media screen and (max-width: 600px) {
    .Hero {
        margin: 0;
        /* border: 1px solid red; */
    }
    .Hero--section {
        padding: 5px 0 ;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        /* height: 80vh; */
    }
    .Hero h1 {
        margin: 0;
    }

    .Hero--section img {
        margin: 0px;
        width: 330px;
    }

    .Hero--btn button {
        margin: 5px;
    }

}

@media screen and (min-width: 500px) {
    .Hero {
        flex-wrap: wrap;
    }
    .Hero h1 {
        font-size: 2.8rem;
        line-height: 130%;
        margin: 0;
    }

    .Hero p {
        font-size: 10px;
        line-height: 190%;
        margin: 0;
    }


    .Hero--section img {
        margin: 0px;
        width: 300px;
    }

}

