* {
    font-family: 'Manrope', sans-serif;
}

.navbar {
    background-color: #0572ec;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    /* border: 1px solid red; */
}

.navbar img{
    width: 150px;
    cursor: pointer;
}

.navbar button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}

.signin-btn {
    background-color: #0572ec;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
}

.signin-btn:hover {
    color: #16436c;
}

.register-btn {
    background-color: white;
    border: 1px solid white;
    color: #0572ec;
}

.register-btn:hover {
    background-color: #0a7800;
    color: #fff;
    border: 1px solid #0a7800;
}


@media screen and (max-width: 600px) {
    .navbar img{
        width: 130px;
        cursor: pointer;
    }

    .navbar button {
        width: 100px;
        height: 35px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 700;
    }
}

@media screen and (min-width: 500px) {
    .navbar img{
        width: 95px;
        cursor: pointer;
    }

    .navbar button {
        width: 70px;
        height: 27px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 700;
    }

    .navbar {
        width: auto;
        flex-wrap: wrap;
    }
}