.AddItems {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 16px;
    display: flex;
    background: white;
}

.AddItems button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: #08c;    
}

.AddItems button:hover {
    color: #04c;
}

/* SIDEBAR STYLING */

.AddItems-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.AddItems-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.AddItems-sidebar-header h1 {
  margin: 0;
}

.AddItems-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.AddItems-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.AddItems-sidebar-note button {
  color: crimson;
}
.AddItems-sidebar-note p {
  margin: 10px 0;
}
.AddItems-sidebar-note small {
  display: block;
  color: #999;
}

.AddItems-sidebar-note:hover {
  background: #ddd;
}
.AddItems-sidebar-note.active,
.AddItems-sidebar-note.active small {
  background: #08c;
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.AddItems-main {
  width: 70%;
  height: 100vh;
}
.AddItems-main-note-edit,
.AddItems-main-note-preview {
  height: 50vh;
}

.no-active-item {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.AddItems-main-note-edit {
  padding: 25px;
}

.AddItems-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.AddItems-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.AddItems-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}