* {
    font-family: 'Manrope', sans-serif;
}


.Registration-navbar--favicon {
    display: none;
}

.Registration--navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    flex-direction: row;
}

.Registration--navbar img{
    width: 150px;
    cursor: pointer;
}

.Registration--navbar button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}


.Registration--btn {
    background-color: white;
    border: 1px solid white;
    color: #0572ec;
    box-shadow: 1px 1px 10px 1px rgb(224, 223, 223);
}

.Registration--btn:hover {
    background-color: #0a7800;
    color: #fff;
    border: 1px solid #0a7800;
}

.Registration {
    display: flex;
    background-color: #f7f7f7;
    color: #000;
}

.Registration-side-bar {
    width: 400px;
    height: 100vh;
    max-height: 150vh;
    background-color: #0572ec;
}

.Registration-side-bar img {
    width: 150px;
    padding: 15px 20px;
}

.Registration-side-bar h1 {
    padding: 0px 50px;
    font-size: 70px;
    font-weight: 900;
    color: #16436c;
    -webkit-text-stroke: 4px #16436c;
    line-height: 70px;
    margin: 30px 0 0 0;
}

.Registration-side-bar p {
    padding: 0px 50px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    line-height: 15px;
}

/* Successful Registration Page */

.Registration--success {
    width: 400px;
    background-color: white;
    padding: 10px 30px 30px 30px; 
    border-radius: 10px;
    box-shadow: 1px 10px 10px 1px rgb(224, 223, 223);
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
}

.Registration--success h1 {
    font-size: 25px;
}

.Registration--success h3 {
    font-size: 20px;
}

.Registration--success button {
    background-color: #0572ec;
    box-shadow: 1px 10px 10px rgb(224, 223, 223);
    padding: 10px 30px;
    border: transparent;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}

.Registration--success button a {
    text-decoration: none;
    color: white;
}

/* ............................... */
.Registration--form {
    margin: auto;
    padding: 20px;
}

.Registration--form h1 {
    font-size: 30px;
    text-align: center;
}

.Registration--form-area {
    background-color: white;
    padding: 10px 30px 30px 30px; 
    border-radius: 10px;
    box-shadow: 1px 10px 10px 1px rgb(224, 223, 223);
}

.Registration--form-area input {
    width: 400px;
    height: 35px;
    border: 1px solid #dfdddd;
    border-radius: 5px;
    margin: 5px auto;
    padding: 0px 10px;
}

.Registration--form-area input:hover {
    border: 1px solid #0572ec;
    box-shadow: 1px 1px 10px 1px rgb(211, 209, 209);
}

.Registration--form-area label {
   text-align: left;
}

.Registration--form-area .submit {
    background-color: #0572ec;
    width: 420px;
    height: 40px;
    color: white;
    border-radius: 50px;
}

.Registration--form-area p {
    text-align: center;
}

/* .................. */

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
/* .............................. */

@media screen and (max-width: 600px) {
    .Registration--navbar {
        flex-direction: column;
    }
    
    .Registration-navbar--favicon {
        display: flex;
        width: 10px;
        margin: 10px;
    }
    
    .Registration--navbar img{
        width: 150px;
    }
    
    .Registration--navbar button {
        display: none;
    }
    
    
    .Registration--btn {
        background-color: white;
        border: 1px solid white;
        color: #0572ec;
        box-shadow: 1px 1px 10px 1px rgb(224, 223, 223);
    }
    
    .Registration--btn:hover {
        background-color: #0a7800;
        color: #fff;
        border: 1px solid #0a7800;
    }
    
    .Registration {
        display: flex;
        background-color: #f7f7f7;
        color: #000;
    }
    
    .Registration-side-bar {
        display: none;
    }
    
    .Registration--form {
        margin: auto;
        padding: 20px;
    }
    
    .Registration--form h1 {
        font-size: 30px;
        text-align: center;
        width: 310px;
    }
    
    .Registration--form-area {
        background-color: white;
        padding: 10px 30px 30px 30px; 
        border-radius: 10px;
        box-shadow: 1px 10px 10px 1px rgb(224, 223, 223);
        width: 250;
        margin: auto 0;
    }
    
    .Registration--form-area input {
        width: 290px;
        height: 35px;
        border: 1px solid #dfdddd;
        border-radius: 5px;
        margin: 5px auto;
        padding: 0px 10px;
    }
    
    .Registration--form-area input:hover {
        border: 1px solid #0572ec;
        box-shadow: 1px 1px 10px 1px rgb(211, 209, 209);
    }
    
    .Registration--form-area label {
       text-align: left;
    }
    
    .Registration--form-area .submit {
        background-color: #0572ec;
        width: 150px;
        height: 40px;
        color: white;
        border-radius: 50px;
    }
    
    .Registration--form-area span a {
        margin-left: 15px;
        font-size: 12px;
        color: #0572ec;
        font-weight: 700;
        text-decoration: none;
        width: 200px;
    }
    
    .Registration--form-area p {
        text-align: center;
        width: 310px;
    }
}